@import url('./reset.css');

/* 主体样式 */
.container{
	max-width: 960px;
	height: 100%;
	margin: 0px auto;
}

/* 头部样式 */
#header{
	width: 100%;
	height: 100px;
	position: fixed;
	top: 0;
}
.logo{
	width: 150px;
	height: 100px;
}
.logo img{
	width: 100%;
	height: 100%;
}
.nav{
	height: 100px;
	text-align: center;
	line-height: 100px;
	font-size: 0.9em;
	background-color: #0063bc;
	box-shadow: 0 0 15px 0 #333;
}
.nav li,
.nav li a{
	color: white;
}
.nav li{
	min-width: 5em;
	float: left;
}
.nav li:last-child{
	margin-right: 2em;
	float: right;
}
.nav li a:hover,
#footer a:hover{
	color: #b3e318;
}
#nav-list-btn{
	display: none;
}

/* 内容样式 */
#content{
	width: 900px;
	min-height: 450px;
	margin: 100px auto 0 auto;
	padding: 30px;
	text-align: center;
	box-shadow: 0 0 15px 0 #aaa;
	background-color: white;
}

/* 底部样式 */
#footer{
	padding: 50px 0;
	line-height: 2em;
	font-size: 0.8em;
	background-color: #0063bc;
	color: white;
	text-align: center;
	word-spacing: 2em;
	box-shadow: 0 0 10px 0 #666;
}
#footer a{
	color: #f0f271;
}

/* 注册登录表单 */
.form{
	max-width: 500px;
	margin: 2em auto;
	background-color: #fff;
	box-shadow: 0 0 5px 5px #ddd;
	font-size: 1.2em;
	text-align: center;
	padding-bottom: 3em;
}
.form h1{
	height: 5em;
	line-height: 5em;
	text-align: center;
	font-size: 1.2em;
	color: #0063bc;
}
.form p{
	margin: 1em 0;
	font-size: 0.8em;
}
.form .warn-text{
	color: #e43660;
	font-size: 0.8em;
	font-weight: bold;
}
.form .btn-line{
	height: 3em;
	padding: 2em 6em 0 6em;
}
.btn-line .change-btn,
.btn-line .submit-btn{
	width: 40%;
	text-align: center;
	font-size: 0.9em;
	background-color: #0063bc;
	color: white;
	box-shadow: 2px 2px 2px 2px #aaa;
}
.change-btn{
	float: left;
}
.submit-btn{
	float: right;
}
.change-btn:hover,
.submit-btn:hover{
	box-shadow: 0 0 0 0;
}
#register-form{
	display: none;
}

/* 主页内容项 */
.project-item{
	width: 80%;
	min-width: 750px;
	margin: 0px auto;
}
.project-title,
.project-main{
	margin-bottom: 0.5em;
	padding: 1em;
	border: 0.2em solid #848484;	
	text-align: left;
}
.project-title,
.project-main-title{
	font-weight: bold;
	margin: 0.5em auto;
	color: #0063bc;
}
.project-title a{
	color: #0063bc;
}
.project-title a:hover{
	color: #00a4e9;
}
.project-description{
	font-size: 0.9em;
	margin: 1.5em auto;
}
.project-message{
	font-size: 0.8em;
	text-align: right;
	padding-right: 0.5em;
}
.message-item{
	margin-left: 2em;
}

/****************************************************************************************/

/* 媒体查询 */
@media(max-width: 960px) {
	html{
		height: 100%;
	}
	body{
		height: 100%;
		font-size: 0.9em;
	}
	.container{
		width: 100%;
	}
	.nav li:last-child{
		margin-right: 1em;
	}
	#content{
		width: 100%;
		padding: 30px 0;
	}
}
@media(max-width: 500px) {
	#header,
	.nav{
		height: 60px;
		line-height: 60px;
	}
	.logo,
	.logo img{
		width: 100px;
		height: 60px;
	}
	.nav-list{
		width: 90px;
		float: right;
		background-color: #0063bc;
		text-align: center;
	}
	#nav-option{
		display: none;
	}
	.nav-list li{
		width: 100%;
		height: 4em;
		line-height: 4em;
		text-align: center;
	}
	.nav-list li:hover,
	.nav-list li:hover a{
		background-color: #004E99;
		color: #b3e318;
	}
	.nav-list li:last-child{
		margin: 0;
	}
	#nav-list-btn{
		height: 60px;
		display: block;
	}
	#nav-list-btn img{
		width: 40px;
		height: 40px;
		margin: 10px auto;
	}

	#content{
		margin-top: 60px;
		padding: 0;
	}

	.form{
		width: 100%;
		min-height: 450px;
		margin: 0;
		padding: 3em 0;
	}
	.form .btn-line{
		padding: 2em;
	}
	.btn-line .change-btn,
	.btn-line .submit-btn{
		height: 3em;
	}

	#footer{
		word-spacing: 1em;
	}
}
